/*
    Title: Junior-level JavaScript coding challenge
    Name: Nur Hidayah
    Created by: 13/6-19/6/2022

    source code from: https://www.w3schools.com/css/default.asp
*/

/* https://www.w3schools.com/howto/howto_css_center_website.asp */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: #eceae4;
  color: rgb(64, 64, 64);
  text-align: center;
  max-width: 650px;
  margin: auto;
}

/* loading styling */
.loading {
  color: #55cbcd;
  font-weight: 900;
}

/* search box styling. source from: https://codepen.io/mihaeltomic/pen/vmwMdm */

.search-container {
  padding-top: 20px;
}

.search-title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #8fcaca;
}

.search-input {
  width: 30%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: transparent;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-input:placeholder {
  color: color(#575756 a(0.8));
  letter-spacing: 1.5px;
}

.search-input:hover,
.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.container {
  width: 600px;
  overflow: auto;
}

/* table styling. source from: 1. https://stackoverflow.com/questions/8423768/freeze-the-top-row-for-an-html-table-only-fixed-table-header-scrolling 
and 2. https://www.geeksforgeeks.org/how-to-make-bootstrap-table-with-sticky-table-head/
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 60%;
}

.header {
  position: sticky;
  top: 0;
}

th {
  border-bottom: 1px solid #eee;
  background: #97c1a9;
  color: #000;
  padding: 10px 25px;
}

td,
tr {
  border-bottom: 1px solid #eee;
  background: #c6dbda;
  color: #000;
  padding: 10px 25px;
}

/* button back to top. source: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#button {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #55cbcd;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  height: 30px;
}

#button:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: white;
}
